apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
  namespace: bloginfer
type: Opaque
data:
  MYSQL_ROOT_PASSWORD: MTIzNDU2

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mysql
  namespace: bloginfer
spec:
  replicas: 1
  serviceName: mysql
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:9.2
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: MYSQL_ROOT_PASSWORD
          ports:
            - containerPort: 3306
          volumeMounts:
            - name: data
              mountPath: /var/lib/mysql
            - name: mysql-init
              mountPath: /docker-entrypoint-initdb.d
              readOnly: true
          resources:
            requests:
              cpu: "500m"
              memory: "1Gi"
            limits:
              cpu: "1"
              memory: "2Gi"
        - name: mysqld-exporter
          image: prom/mysqld-exporter:latest
          command: ["sh", "-c"]
          args:
            - |
              until mysqladmin ping -h 127.0.0.1 -u root -p$MYSQL_ROOT_PASSWORD; do
              sleep 2
              done
              /bin/mysqld_exporter
          env:
            - name: DATA_SOURCE_NAME
              value: "root:123456@(localhost:3306)/"
          ports:
            - containerPort: 9104
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "100m"
              memory: "128Mi"
      volumes:
        - name: mysql-init
          configMap:
            name: mysql-init
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: ""
        resources:
          requests:
            storage: 5Gi
        selector:
          matchLabels:
            app: mysql

---
apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: bloginfer
spec:
  type: ClusterIP
  ports:
    - port: 3306
      targetPort: 3306
  selector:
    app: mysql
