apiVersion: v1
kind: PersistentVolume
metadata:
  name: blog-pv
  labels:
    app: blog
spec:
  capacity:
    storage: 7Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: /root/final_hw
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: mysql-pv
  labels:
    app: mysql
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: /root/sql_data
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: blog-pvc
  namespace: bloginfer
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 7Gi
  selector:
    matchLabels:
      app: blog
